* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #F8F9FA; */
    background-color: #FEFEFE;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    width: 25%;
}

nav {
    padding: 0 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

header {
    display: flex;
    padding: 5rem 25%;
    margin-top: 5rem;
}

.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 10px solid rgb(70, 54, 54); */
    box-shadow: 0 0 0 10px #9de5f1;
}

.intro {
    margin-top: 2rem;
}
.intro a{
    text-decoration: none;
    color: #0dcaf0;
    margin-right: 1rem;
}
h2 {
    padding-bottom: 1rem;
}

/* About section */
#about {
    padding: 2rem 15%;

}


#about ul {
    padding-left: 1rem;
}

#about li::marker {
    content: "↬";
    color: #0dcaf0;
    /* color: #4f2b4f; */
    font-size: 1rem;
    font-weight: bolder;
}

#about li {
    padding-inline-start: 1ch;
    margin-bottom: 0.8rem;
}

.zuri-img {
    width: 80px;
    margin-bottom: 0.5rem;

}

#projects {
    padding: 3rem 15%;
}
#projects h2 {
    text-align: center;
}

footer p {
    text-align: center;
    margin: 2rem;
}
/* Project section */
.card img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;

}
header,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 369px) {
    .nancy{
        font-size: 1.2rem;
    }
    .logo {
        width: 20%;
    }
}
@media (max-width: 360px) {
    .nancy{
        font-size: 1rem;
    }
    .logo {
        width: 20%;
    }
}

@media (min-width: 1024px) {

    header img {
        margin-right: 5rem;
    }

    .intro {
        width: 500px;
        /* word-wrap: break-word; */
    }

    #about {
        display: flex;
    }

    .experience {
        width: 500px;
        margin-right: 5rem;
    }
}